<a href="https://colab.research.google.com/github/lindobmasina/hackathon-lindo/blob/master/kernel5cb2c379ef.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['sample_submission.csv', 'Xente_Variable_Definitions.csv', 'training.csv', 'test.csv']

In [0]:
from sklearn.metrics import classification_report,accuracy_score
from plotly.offline import init_notebook_mode, iplot
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from mlxtend.classifier import StackingCVClassifier

In [0]:
#data11['time'] = (data11['TransactionStartTime'].TIMESTAMP - data11['TransactionStartTime'].TIMESTAMP.min()).dt.components['hours']
#data11['TransactionStartTime'] =  pd.to_datetime(data11['TransactionStartTime']).toordinal()
#data11['TransactionStartTime'] = data11['TransactionStartTime'].apply(pd.to_datetime).map(lambda x: x.toordinal())
#data11['TransactionStartTime'] = data11['TransactionStartTime'].apply(pd.to_datetime).apply(lambda x: x.toordinal())

In [0]:
data11 = pd.read_csv("../input/training.csv")

#data11 = data11.drop(['BatchId','TransactionStartTime','CurrencyCode','SubscriptionId','AccountId'], axis=1)
#data1 =  data11.sample(frac=0.2, replace=False, random_state=1)
#data1.set_index('TransactionId')
test = pd.read_csv("../input/test.csv")
#test= test.drop(['BatchId','TransactionStartTime','CurrencyCode','SubscriptionId','AccountId'], axis=1)
#data1.set_index('TransactionId')
xente = pd.read_csv("../input/Xente_Variable_Definitions.csv")
sample = pd.read_csv("../input/sample_submission.csv")

In [0]:
#data11.head()
test['TransactionId'] = test['TransactionId'].map(lambda x: x.lstrip('TransactionId_'))
test['CustomerId'] = test['CustomerId'].map(lambda x: x.lstrip('CustomerId_'))
test['ProviderId'] = test['ProviderId'].map(lambda x: x.lstrip('ProviderId_'))
test['BatchId'] = test['BatchId'].map(lambda x: x.lstrip('BatchId_'))
test['AccountId'] = test['AccountId'].map(lambda x: x.lstrip('AccountId_'))
test['SubscriptionId'] = test['SubscriptionId'].map(lambda x: x.lstrip('SubscriptionId_'))
test['ProductId'] = test['ProductId'].map(lambda x: x.lstrip('ProductId_'))
test['ChannelId'] = test['ChannelId'].map(lambda x: x.lstrip('ChannelId_'))


test = test.drop(['CurrencyCode','TransactionStartTime'], axis=1)
#test['TransactionStartTime'] = test['TransactionStartTime'].apply(pd.to_datetime).map(lambda x: x.toordinal())

In [0]:
#data11.head()
data11['TransactionId'] = data11['TransactionId'].map(lambda x: x.lstrip('TransactionId_'))
data11['CustomerId'] = data11['CustomerId'].map(lambda x: x.lstrip('CustomerId_'))
data11['ProviderId'] = data11['ProviderId'].map(lambda x: x.lstrip('ProviderId_'))
data11['BatchId'] = data11['BatchId'].map(lambda x: x.lstrip('BatchId_'))
data11['AccountId'] = data11['AccountId'].map(lambda x: x.lstrip('AccountId_'))
data11['SubscriptionId'] = data11['SubscriptionId'].map(lambda x: x.lstrip('SubscriptionId_'))
data11['ProductId'] = data11['ProductId'].map(lambda x: x.lstrip('ProductId_'))
data11['ChannelId'] = data11['ChannelId'].map(lambda x: x.lstrip('ChannelId_'))


data11 = data11.drop(['CurrencyCode','TransactionStartTime'], axis=1)
#data11['TransactionStartTime'] = data11['TransactionStartTime'].apply(pd.to_datetime).map(lambda x: x.toordinal())

In [0]:
# The list comprehension below generates a list of columns whose entries are of the object data type
one_hot_list = ['ProductCategory']

# The following code implement one-hot encoding
data = pd.get_dummies(data11, columns = one_hot_list, prefix = one_hot_list, drop_first = True)
test = pd.get_dummies(test, columns = one_hot_list, prefix = one_hot_list, drop_first = True)

test.set_index('TransactionId')
data11.set_index('TransactionId')

              BatchId AccountId     ...     PricingStrategy FraudResult
TransactionId                       ...
76871           36123      3957     ...                   2           0
73770           15642      4841     ...                   2           0
26203           53941      4229     ...                   2           0
380            102363       648     ...                   2           0
28195           38780      4841     ...                   2           0
23223           25954      1078     ...                   2           0
118063         118460      2442     ...                   4           0
100640          38561      4841     ...                   2           0
51905           93774       272     ...                   2           0
130161          82409       710     ...                   2           0
51800          112288      2634     ...                   2           0
33857          126394      4841     ...                   2           0
94963          104726       710     ...                   2           0
104687          59433       710     ...                   2           0
86903           59433       710     ...                   2           0
118831          59433       710     ...                   2           0
122975          31312      2685     ...                   2           0
98367            6789      2685     ...                   2           0
64044          117733      4841     ...                   2           0
119821          89644      3081     ...                   4           0
94363           94932      4841     ...                   2           0
93543          103527      3081     ...                   4           0
138139           8334      4841     ...                   2           0
79885           48769      1825     ...                   2           0
127132          50160      2314     ...                   2           0
74649          100266      4841     ...                   2           0
7396           124231      1825     ...                   2           0
126754          60208      1616     ...                   2           0
136360          48611      4841     ...                   2           0
89705           16332      3455     ...                   2           0
...               ...       ...     ...                 ...         ...
70563            2831       537     ...                   2           0
66516           98969      3014     ...                   2           0
5394           121783      2965     ...                   4           0
11513           25909      2585     ...                   4           0
112982         108518      4841     ...                   2           0
53307          136096      4841     ...                   2           0
20690           18591      1232     ...                   2           0
73868           94787      4326     ...                   2           0
131580          16209      1219     ...                   2           0
134543          88196      4326     ...                   2           0
117975          55755      4841     ...                   2           0
114220          89378      1318     ...                   2           0
49819          127156      3447     ...                   2           0
131922          69178      1726     ...                   1           0
128602          88013      4841     ...                   2           0
74925           29059      4841     ...                   2           0
96153           24311      1685     ...                   2           0
138376         107100       215     ...                   2           0
36354           81234       215     ...                   2           0
16042           49303       215     ...                   2           0
71994           66957       620     ...                   2           0
68851          100900      4841     ...                   2           0
18130           20310       620     ...                   2           0
38907           92168      4841     ...                   2           0
68402           17092      2659     ...                   2           0
89881           96668      4841     ...                   2           0
91597            3503      3439     ...                   2           0
82501          118602      4841     ...                   2           0
136354          70924      1346     ...                   2           0
35670           29317      4841     ...                   2           0

[95662 rows x 13 columns]

In [0]:
test.head()

  TransactionId             ...              ProductCategory_utility_bill
0         50600             ...                                         0
1         95109             ...                                         0
2         47357             ...                                         0
3         28185             ...                                         0
4         22140             ...                                         0

[5 rows x 20 columns]

In [0]:
columns = data.columns.tolist()
# Filter the columns to remove data we do not want 
columns = [c for c in columns if c not in ["FraudResult"]]
# Store the variable we are predicting 
target = "FraudResult"
# Define a random state 
state = np.random.RandomState(42)
X = data[columns]
y = data[target]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [0]:
sum(y_test)

44

In [0]:
from sklearn.linear_model import LogisticRegression
lm = RandomForestClassifier()
lm.fit(X_train,y_train)
pred_lm = lm.predict(X_test)

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning:

The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.

In [0]:
from sklearn.metrics import classification_report
print('Classification Report')
print(classification_report(y_test, pred_lm))

Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     19089
           1       0.90      0.84      0.87        44

    accuracy                           1.00     19133
   macro avg       0.95      0.92      0.94     19133
weighted avg       1.00      1.00      1.00     19133

In [0]:
tested= lm.predict(test)

In [0]:
sample.head()

         TransactionId  FraudResult
0  TransactionId_50600          NaN
1  TransactionId_95109          NaN
2  TransactionId_47357          NaN
3  TransactionId_28185          NaN
4  TransactionId_22140          NaN

In [0]:
test_id = pd.DataFrame(test['TransactionId'])
test_id.columns = ['TransactionId']

prediction = pd.DataFrame(tested)
prediction.columns = ['FraudResult']
submission = test_id.join(prediction)

In [0]:
submission['TransactionId'] = 'TransactionId_' + submission['TransactionId'].astype(str)

In [0]:
submission.head()

         TransactionId  FraudResult
0  TransactionId_50600            0
1  TransactionId_95109            0
2  TransactionId_47357            0
3  TransactionId_28185            0
4  TransactionId_22140            0

In [0]:
submission.to_csv('submissionSVC.csv', index = False)

reffrences 
https://www.kaggle.com/tshego/mbti-classification-edsa-team-19
http://hamelg.blogspot.com/2015/11/python-for-data-analysis-part-17.html
https://stackoverflow.com/questions/24588437/convert-date-to-float-for-linear-regression-on-pandas-data-frame/24590666
https://athena2.explore-datascience.net/student/sprint-tutorial/view/7/17/1034